<h1>Employees list</h1>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table' *ngIf="employees">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Skills</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.skills }}</td>
            <td>
                <a class="glyphicon glyphicon-pencil" style="cursor:pointer" routerLink="/edit/{{employee.employeeId}}"></a>
            </td>
            <td>
                <a class="glyphicon glyphicon-remove" style="cursor:pointer" (click)="remove(employee.employeeId)"></a>
            </td>
        </tr>
    </tbody>
</table>
